/* comments */

    body {
      margin:0 auto;
      padding: 0;
      background-color: lightyellow;
    }

    .logo {
      position: absolute;
      left:22%;
      margin-top: 1.5%;
      text-align: center;
      border-radius: 25px;
      height: 100px;
      width: 100px;
      border: 4px solid RGB(140, 136, 3);
      animation:scaleDraw 5s ease-in-out;

    }
    .logo1{
        padding-left: 100px;
        padding: 15px;
        width:100%;
        height:100%;
        float: left;
        text-align: left;
        margin-left: 30%;
        font-family:"Comic Sans MS";
        font-size: 35px;
        color: RGB(140, 136, 3);
        padding-top:0;
        margin-top: 0;
        border-top: 0;
        animation:slidedown 3s;

    }
    .logo2{
        padding-left: 100px;
        padding: 15px;
        width:100%;
        float: left;
        margin-left: 30%;
        font-weight: bold;
        font-size: 17px;
        color: black;
        margin-top: -65px;
        animation:slideup 3s;

    }
    @keyframes slideup{
    0% {transform: translateY(0)}
    25%{transform: translateY(-80px)}
    50% {transform: translateY(0px)}
    100% {transform: translateY(-80px)}
    }
    @keyframes slidedown{
      0% {transform: translateY(0)}
      25%{transform: translateY(80px)}
      50% {transform: translateY(0px)}
      100% {transform: translateY(80px)}
    }


.slideshow{
overflow:hidden;
height: 40px;
width: 52%;
margin-left: 22%;
padding-top: 0.5%;
}
.slide-wrapper{
height: 40px;
width: 400%;
animation: slideshow 20s infinite;
}
@keyframes slideshow{
0% {margin-left: 0%;}
50% {margin-left: -100%;}
100% {margin-left: -200%;}
}
.slide{
float: left;
height: 100%;
width: 25%;
}
.slide h5{
  margin-top:10px ;
}
.slide:nth-child(1) {
background-color:RGB(140, 136, 3);
text-align: center;
color: white;
}
.slide:nth-child(2) {
  font-family: Arial;
background-color: RGB(65, 66, 59);
text-align: center;
color:white;
}
.slide:nth-child(3) {
background-color: RGB(212, 195, 66);
text-align: center;
color: black;
}



.intro{
display: flex;
flex-direction: column;
justify-content: space-between;
height: 1200px;
}

.introimage1{
background-image: url("images/intro_img2.jpg");
width:52%;
height:52%;
background-size:100% 100%;
margin-left: 22%;
float: left;
}

.introimage2{
background-image: linear-gradient(rgba(38, 35, 31, 0.4), rgba(235, 187, 56, 0.4)),url("images/intro_img1.jpg");
filter: brightness(80%);
width:52%;
height:52%;
background-size:100% 100%;
margin-left: 22%;
float: left;
}

.greybox{
  font-size:20px;
  padding: 15px;
  margin-top: 17%;
  margin-left: 5%;
  height: 18%;
  width: 35%;
  border: solid white;
  background-color: grey;
}
.greybox h5{
  margin-top: 0px;
}
.img2text{
  margin-left: 30%;
  margin-top: 50px;
  align-items: center;
  width: 428px;
  height: 200px;
  color: white;
  font-size: 16px;
  text-align: justify;
}

.productstitle{
  margin-left: 22%;
}
.setstitle{
  margin-left: 22%;
}
.productimg_div{
  margin-left: 22%;
  width: 52%;
  height: 100%;
  border: 0px cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

}
.productimg_div img{
  margin: 0px;
  height:30%;
  width: 30%;
  overflow: hidden;
}

.product1_text_div{
  margin-left: 22%;
  width: 52%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  overflow: hidden;
}
.product2_text_div{
  margin-left: 22%;
  width: 52%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  overflow: hidden;
}

#button1{
  text-align: center;
  text-decoration: none;
   font-size:16px;
   background-color:black;
   width: 200px;
   height: 40px;
   color: lightgrey;
   padding: 13px;
}

/*modalWindow*/

.modalWindow{
}

.modalWindow:target{
  opacity:1;
  pointer-events: auto;
  transition: ease-in 0.3s;

}



#modalWindow {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.4);
			z-index: 99999;
			opacity:0;
			transition: opacity 400ms linear;
			pointer-events: none;
		}
		#modalWindow:target {
			opacity:1;
			pointer-events: auto;
		}

    .modal__close{
font-family:Arial;
  text-decoration: none;
  color:black; 
  align-items: center;
}

#right_corner{
  background-color:lightgrey;
  float:right;
  top:0;
   right: 0px;
   height:25px;
   width:25px;

  position:absolute;
}
#modalWindow h6{
  float: left;
  margin-bottom: 0;
}
#modalWindow2 h6{
  float: left;
  margin-bottom: 0;
}
#modalWindow3 h6{
  float: left;
  margin-bottom: 0;
}
#modalWindow4 h6{
  float: left;
  margin-bottom: 0;
}
#modalWindow5 h6{
  float: left;
  margin-bottom: 0;
}
#modalWindow6 h6{
  float: left;
  margin-bottom: 0;
}
		#modalWindow > div {
			width: 520px;
			height: 480px;
			position: relative;
			margin: 10% auto;
			padding: 20px 20px 13px 20px;
			border-color: cover;
			border-width : 2px;
			background: white;
		}

#modalWindow2 {
			position: fixed;
			font-family:helvetica, sans-serif;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.4);
			z-index: 99999;
			opacity:0;
			transition: opacity 400ms linear;
			pointer-events: none;
		}
#modalWindow2:target {
  opacity:1;
  pointer-events: auto;
}

#modalWindow2 > div {
			width: 520px;
			height: 480px;
			position: relative;
			margin: 10% auto;
			padding: 20px 20px 13px 20px;
			border-color: cover;
			border-width : 2px;
			background: white;
		}
#modalWindow3 {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.4);
			z-index: 99999;
			opacity:0;
			transition: opacity 400ms linear;
			pointer-events: none;
		}
#modalWindow3:target {
  opacity:1;
  pointer-events: auto;
}


#modalWindow3 > div {
			width: 520px;
			height: 480px;
			position: relative;
			margin: 10% auto;
			padding: 20px 20px 13px 20px;
			border-color: cover;
			border-width : 2px;
			background: white;
		}

#modalWindow4 {
			position: fixed;
			font-family:helvetica, sans-serif;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.4);
			z-index: 99999;
			opacity:0;
			transition: opacity 400ms linear;
			pointer-events: none;
		}
#modalWindow4:target {
  opacity:1;
  pointer-events: auto;
}


#modalWindow4 > div {
			width: 520px;
			height: 480px;
			position: relative;
			margin: 10% auto;
			padding: 20px 20px 13px 20px;
			border-color: cover;
			border-width : 2px;
			background: white;
		}
#modalWindow5 {
			position: fixed;
			font-family:helvetica, sans-serif;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.4);
			z-index: 99999;
			opacity:0;
			transition: opacity 400ms linear;
			pointer-events: none;
		}
#modalWindow5:target {
  opacity:1;
  pointer-events: auto;
}


#modalWindow5 > div {
			width: 520px;
			height: 480px;
			position: relative;
			margin: 10% auto;
			padding: 20px 20px 13px 20px;
			border-color: cover;
			border-width : 2px;
			background: white;
		}

#modalWindow6 {
			position: fixed;
			font-family:helvetica, sans-serif;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.4);
			z-index: 99999;
			opacity:0;
			transition: opacity 400ms linear;
			pointer-events: none;
		}
#modalWindow6:target {
  opacity:1;
  pointer-events: auto;
}


#modalWindow6 > div {
			width: 520px;
			height: 480px;
			position: relative;
			margin: 10% auto;
			padding: 20px 20px 13px 20px;
			border-color: cover;
			border-width : 2px;
			background: white;
		}

#container {
  text-align: left;
  width: 100%;}
#photo {margin-top:10px;float: left; width: 40%;}
#photo #rephoto{
  max-width:100%;
max-height:100%;
}
#content {float: right; width: 60%;}
#content #news p{
  text-align: left;
}
#clear{
  clear: left;
}

#modalWindow h5{
  text-align: left;
}
#modalWindow2 h5{
  text-align: left;
}
#modalWindow3 h5{
  text-align: left;
}
#modalWindow4 h5{
  text-align: left;
}
#modalWindow5 h5{
  text-align: left;
}
#modalWindow6 h5{
  text-align: left;
}
#low {
padding: 20px 10px 20px 10px;
  background: lightgrey;
  width: auto;
  height: 85px;
}

#low button{
  margin-top:10px;
  margin-left: 8%;
  font-size: 12px;
  width: 150px;
  height: 37px;
  background-color: white;
}

@keyframes scaleDraw { 
            0%{
                transform: scale(1);  
            }
            25%{
                transform: scale(0.5); 
            }
            50%{
                transform: scale(1);
            }
            75%{
                transform: scale(0.5);
            }
        }


        .button{
          margin-bottom: 10px;
        }


/*BOTTOM*/
.bottombar{
  background-color: black;
  margin-left: 22%;
  width: 52%;
  height: 450px;
}

.toptext {
width:100%;
  padding:4%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 900px;
  overflow:hidden;
  text-align: center;
  font-family: Arial;
  color: lightgrey;
}
.bottomtext: {
width:50px;
}
.iconstitle{
  float: right;
  margin-top: 30px;
  margin-right: 64px;
  color:lightgrey;
  font-family: arial;
  font-size: 12px;
}
.icons{
  margin-right: 60px;
  clear: right;
}
.icons img{
  padding: 1%;
  display: flex;
  float: right;
  width: 40px;
  height: 40px;
}

.lasttext{
  padding-top: 80px;
  clear:both;
  width: 100%;
  text-align: center;
  font-family: Arial;
  color: lightgrey;
  font-size: 11px;
}
